@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <p class="display-4" style="font-weight:700;font-size:20px">你好，我是霍格沃茨魔法学校的校长，沈平元，擅长各种学院的魔法的名字的书写</p>
    <p class="display-4" style="font-weight:800;font-size:25px">你好，我是霍格沃茨魔法学校格兰芬多学院的老大，黄靖越，擅长各种魔法:巴啦啦能量—沙罗沙罗—小魔仙—全身变，。。开除你</p>
    <p class="display-4" style="font-weight:900;font-size:30px">你好，我是霍格沃茨魔法学校赫奇帕奇学院的老大，潘梦娜，也是擅长各种魔法，巴啦啦能量—古拉罗—魔仙百宝书 ，，，开除你</p>
    <p class="display-4" style="font-weight:900;font-size:40px">你好，我是霍格沃茨魔法学校斯莱特林学院的老大，黄建南，也是擅长各种魔法，巴啦啦能量－呼尼拉－魔仙变身，，，开除你</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
