@*@using Hogwarts.View.Model
@model UserInfoViewModel*@
@model Class
@using Hogwarts.DB.Model
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hogwarts后台管理-添加学院</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/css/public.css" media="all" />
</head>
<body class="childrenBody">
    <form class="layui-form" style="width:80%;">
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">学院ID</label>
            <div class="layui-input-inline">
                @if (Model.ClassId == 0)
                {
                    <input type="text" class="layui-input classId layui-disabled" value="" name="classId" lay-verify="" disabled placeholder="学院Id,不用填自动生成">
                }
                else
                {
                    <input type="text" class="layui-input classId layui-disabled" value="@Model.ClassId" name="classId" lay-verify="" disabled placeholder="学院Id">
                }
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">学院名字</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input className" value="@Model.ClassName" name="className" lay-verify="required" placeholder="请输入学院名字">
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">学院主任</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input classDean" name="classDean" value="@Model.Dean" lay-verify="required" placeholder="请输入学院主任名">
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <div class="layui-input-block">
                @if (Model.ClassId == 0)
                {
                    <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addClass">立即添加</button>
                }
                else
                {
                    <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addClass">立即修改</button>
                }
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="~/lib/layui/layui.js"></script>
    <script type="text/javascript" src="~/js/classAdd.js"></script>
</body>
</html>